main {
  display: flex;
  justify-content: center;
}

main > #ads-reel {
  display: flex;
  flex-wrap: wrap;
  max-width: 90%;
  justify-content: center;
  color: var(--main-brand-color);
}

img {
  max-height: 150px;
  border-radius: 5px;;
}

main > #ad-detail {
  color: var(--main-brand-color);
}

.ad-card {
  width: 300px;
  min-height: 400px;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid;
  border-color: var(--main-brand-color);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ad-card > a {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card-image {
  display: flex;
  justify-content: center;
}

.card-data {
  display: flex;
  flex-direction: column;
}

p {
  margin-top: 5px;
}