#price {
  width: 50px;
}

#image {
  display: none;
}

#create-ad-form {
  display: flex;
  flex-direction: column;
}

/* Remove Arrows/Spinners Chrome, Safari, Edge, Opera*/
#price::-webkit-inner-spin-button,
#price::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
#price {
  -moz-appearance: textfield;
}