
.notification.success {
  background-color: rgba(76, 174, 79, 0.8);
}

.notification.error {
  background-color: rgba(237, 78, 78, 0.8);
}

.notification {
  /* display: block; */
  width: 100%;
  color: rgb(255, 255, 255);
  font-size: larger;
  text-align: center;
  position: fixed;
  border-radius: 0px 0px 50% 50%;
  top: 0;
  left: 0;
  padding: 10px;
  transition: all 0.5s;
  animation: slideDown 3s ease-in-out forwards;
  }

/* Notification animation */
@keyframes slideDown {
  0% {
    top: -100px;
  }
  25% {
      top: 0;
  }
  75% {
    top: 0;
}
  100% {
    top: -100px;
  }
}

