.notification {
  font-weight: bold;
  border: solid 1px gray;
  border-radius: 8px;
  position: absolute;
  top: 16px;
  left: 16px;
  padding: 16px;
  opacity: 0.85;
}

.notification.success {
  background-color: rgb(125, 254, 125);
}

.notification.error {
  background-color: rgb(255, 128, 128);
}

/* .notification {
  display: none;
  width: 100%;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  transition: all 0.5s;
} */